<main>

</main>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="myModalSucks">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      Things i want to say
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Next Question</button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    FastFoodGuesser.initialize();
  });
</script>


