<main>
  <div class="text-center">
    <h1>The End.</h1>

    <p>Alright that's it!</p>

    <p>Your final score is: <%= current_score %> out of <%= q_num - 1 %></p>

    <h3>Thanks for playing!</h3>
  </div>
</main>