<h2>How to play fast food guesser:</h2>
<p>You will see a list of ingredients. All you have to do is pick the food item that matches those ingredients. For example,
if I say 'chicken, mayonnaise, grapes, walnuts' you might guess 'chicken salad'... got it? Great! Click start when you're ready.</p>

<button id="start" class="btn-primary btn-lg">Start</button>