@import "bootstrap";

$logoFontFamily: 'Limelight', cursive;


nav {
  background-color: black;
  color:white;
  padding: 10px 70px;
}

h2, h5 {
  font-family: $logoFontFamily;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width:auto;
    max-width: 500px;
    margin: 20px auto;
}

.btn-margin {
  margin: 20px;
}



