@import "bootstrap";

$logoFontFamily: 'Limelight', cursive;


nav {

  h5 {
    font-family: $logoFontFamily;
  }
}

h2 {
  font-family: $logoFontFamily;
}

main {
    border: 1px solid black;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width:auto;
    max-width: 500px;
    margin: 20px auto;
}

